node_modules
.env
dist
build
coverage
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.eslintcache
.prettiercache
.vscode
.idea
*.log
*.lock
*.tgz
*.tar.gz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.xz
*.lzma
*.z
*.lzo
*.lz4
*.br
*.Z
*.a
*.so
*.dylib
*.dll
*.exe
*.obj
*.o
*.ko
*.mod
*.sym
*.map
*.lst
*.su
*.out
*.d
*.class
*.jar
*.war
*.ear
*.sar
*.car
*.jpi
*.hpi
*.xpi
*.apk
*.ipa
*.app
*.dmg
*.iso
*.vdi
*.vmdk
*.vhd
*.vhdx
*.qcow2
*.sublime-project
*.sublime-workspace
*.atom-workspace
*.theia-workspace
*.code-workspace
*.idea
*.vscode
*.history
*.stackblitzrc
*.codesandbox
*.gitpod.yml
*.gitpod.dockerfile
*.gitpod.Dockerfile
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.gitpod.yml
*.gitpod.yaml
*.git